@import "./common.scss";

.articles {
  @include flex-centered;
  flex-direction: column;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__btn {
    display: block;
    border: none;
    text-transform: uppercase;
    padding: 16px 20px;
    border-radius: 12px;
    transition: all 0.3s;
    background-color: #c84771;
    color: #fff;
    margin: 0 auto;

    &:hover {
      background-color: #b61a50;
    }
  }

  &__link {
    cursor: pointer;
    flex: 1 1 100%;
  }
}

@media #{$phone-media-query} {

  .articles__link {
    flex: 1 1 45%;
  }
}

@media #{$tablet-media-query} {
  
  .articles__link {
    flex: 1 1 30%;
  }
}
