@import "./common.scss";

.comment {
  position: relative;
  padding: 16px;
  background-color: #e0ddd756;
  border-radius: 12px;
  overflow: hidden;

  &_deleted {
    background-color: #b6cdbd;
    color: #5c715e;
    animation: fadeOut 1s 2s ease-out forwards;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__error {
    @include flex-centered;
    animation: fadeOut 1s 2s ease-out forwards;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0ddd7;
    color: #b61a50;
    font-weight: 700;
  }

  &__top {
    @include flex-centered($justify-content: space-between);
    gap: 4px;
    margin-bottom: 12px;
  }

  &__info {
    @include flex-centered($justify-content: center, $align-items: flex-start);
    flex-direction: column;
    gap: 12px;
  }

  &__delete {
    position: relative;
    align-self: flex-start;
    width: 28px;
    height: 28px;
    border: 2px solid #c84771;
    background-color: #e0ddd756;
    border-radius: 8px;

    &:hover, &:active {
      background-color: rgba(255, 183, 199, 0.7);

      &:before {
        transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
      }
  
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1.2);
      }
    }

    &::before, &::after {
      content: '';
      transition: transform 0.1s;
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 2px;
      height: 20px;
      background-color: #c84771;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &_load {
      pointer-events: none;
      background-color: rgba(255, 183, 199, 0.7);

      &:before {
        display: inline-block;
        transform: none;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 4px dotted #c84771;
        background-color: unset;
        border-radius: 50%;
        position: relative;
        animation: rotation 2s linear infinite;
      }

      &::after {
        display: none;
      }
    }
  }

  &__author {
    font-weight: 700;
  }

  &__main {
    @include flex-centered($align-items: flex-start);
    flex-direction: column;
    gap: 4px;
  }

  &__date::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #5c715e;
    border-radius: 50%;
    position: relative;
    bottom: 2px;
    margin-right: 12px;
  }

  &__body {
    border-left: 4px solid #e0ddd7;
    padding-left: 12px;
  }

  &__votes {
    cursor: pointer;
    min-width: fit-content;
    align-self: flex-end;

    &:after {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      position: relative;
      top: 4px;
      background: center/contain no-repeat url('https://i.gstatvb.com/4f5339859455367412216b317c7c234e1710231794.rng.svg');
      margin-left: 4px;
    }

    &_negative:after {
      background: center/contain no-repeat url('https://i.gstatvb.com/e03d25dd3c57eaa86c424b0ed5eff6071710262372.rng.svg');
    }
  }
}

@media #{$phone-smallest-media-query} {

  .comment__info {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
}
