@import "./common.scss";

.comments {

  &__list {
    margin-bottom: 20px;
  }

  &__top {
    @include flex-centered($justify-content: flex-start);
    gap: 20px;
    margin-bottom: 20px;
  }

  &__count::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 2px;
    margin-right: 4px;
    background: center/contain no-repeat url('https://i.gstatvb.com/4464558029fef2a55dc465650fd4029d1710232059.rng.svg');
  }

  &__btn {
    display: block;
    border: none;
    text-transform: uppercase;
    padding: 16px 20px;
    border-radius: 12px;
    transition: all 0.3s;
    background-color: #c84771;
    color: #fff;
    margin: 0 auto;

    &:hover {
      background-color: #b61a50;
    }
  }
}
